<md-grid-list cols="3" style="margin-top: 20px">
  <md-grid-tile>
    <md-card class="example-card">
      <md-card-header>
        <div md-card-avatar class="example-header-image"></div>
        <md-card-title>Route Planner</md-card-title>
      </md-card-header>
      <img md-card-image src="assets/route.png">
      <md-card-content>
        <p>
          An application to allow you to plot a route between 2 or more ports
        </p>
      </md-card-content>
    </md-card>
  </md-grid-tile>
  <md-grid-tile>
    <md-card class="example-card">
      <md-card-header>
        <div md-card-avatar class="example-header-image"></div>
        <md-card-title>Route Planner</md-card-title>
      </md-card-header>
      <img md-card-image src="assets/route.png">
      <md-card-content>
        <p>
          An application to allow you to plot a route between 2 or more ports
        </p>
      </md-card-content>
    </md-card>
  </md-grid-tile>
  <md-grid-tile>
    <md-card class="example-card">
      <md-card-header>
        <div md-card-avatar class="example-header-image"></div>
        <md-card-title>Route Planner</md-card-title>
      </md-card-header>
      <img md-card-image src="assets/route.png">
      <md-card-content>
        <p>
          An application to allow you to plot a route between 2 or more ports
        </p>
      </md-card-content>
    </md-card>
  </md-grid-tile>
</md-grid-list>

