<md-card class="example-card">
  <md-card-header>
    <div md-card-avatar class="example-header-image"></div>
    <md-card-title>San Francisco, 2016</md-card-title>
  </md-card-header>
  <img md-card-image src="assets/martin.jpg">
  <md-card-content>
    <p>
      My name is Martin Etherton. I'm a husband to Erna, a father to Dylan and work as a Developer for ING in Leeuwarden, The Netherlands. Originally from Sheffield, England, I now live in Marknesse, a small village in the province of Flevoland. Hope you find something of interest on my site.
    </p>
  </md-card-content>
  <md-card-actions>
    <button md-button>LIKE</button>
    <button md-button>SHARE</button>
  </md-card-actions>
</md-card>

